html{
    width: 100%;
    box-sizing: border-box;
    margin:0;
    padding:0;
    overflow-x: hidden;
    overflow-wrap: break-word;
    hyphens: auto;
}

header {
    background-color: #70214d;
    width: 100%;
    height:20%;
    color: white;
    display: block;
    position: fixed;
    z-index: 1;
}

.datenschutz{
padding-top:28%;
    padding-left:5%;
    padding-right:5%;
    padding-bottom:2%;
}

#mainheader {
    height: auto;
    transition: height 1.8s ease, padding 0.9s ease;
    filter: drop-shadow(0px 0px 0px rgb(0, 0, 0));
}


#stiftung, #kontakt, #gruendung{
    scroll-margin-top: calc(18vh - 30px)
}

body {
    font-family: 'OpenSans', sans-serif;
    margin: 0;
    padding:0;
    width: 100%;
    position: relative;
    display: block;
    overflow-x: hidden;
}



.grid {
    background-color: #70214d;
    color: white;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    text-decoration: underline;

}


.phone, .IBAN, .BIC, .mail{
        color:black;
        text-decoration:none;
        display:visible;
    }

nav {
    display: flex;
    flex-direction: row;
    padding: 5% 0 5% 0;
    gap: 10%;
    width: 100%;
    transition: gap 0.3s ease;

}

.home:hover {
    text-decoration: none;
}

.quote {
    background-color: #3c1733;
    color: white;
}

footer {
    background-color: #3c1733;
    color: white;
    height: 100px;
    display: flex;
    gap: 10%;
    align-content: center;
    flex-direction: row;
}

main{
    width: 100%;
}

p{
    overflow-wrap:break-word;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
     
}

@media (max-width: 575px) {
main{
    width: 100%;
    padding-top:20%;
}

    #mainheader{
        height:auto;
        width: 100%;
    }

    #mainheader.scrolled {
        height: auto;
        filter: drop-shadow(0px 3px 6px rgb(34, 34, 34));
    }

    #mainheader.scrolled .home {
        font-size: 2rem;
        
    }

    #mainheader.scrolled nav {
        paddin-bottom:2%;
        gap: 6%;
        width: 100%;
        font-size: 0.9rem;
        
    }
   
    

    p {
        font-size: 1.2rem;
        line-height: 1.8rem;
    
    }

    .phone, .IBAN, .BIC, .mail{
        color:black;
        font-size:1.2rem;
        line-height:1.8rem;
        text-decoration:none;
        display:visible;
    }

    h2 {
        font-size: 1.8rem;
        color: #70214d;
    }

    h3 {
        font-size: 1.2rem;
        color: #3c1733;
        font-weight: normal;
    }

    .head {
        width: fit-content;
        padding-left: 5%;
        padding-right: 5%;
        flex-wrap: wrap;
        display: flex;
        justify-content: center;
    }

    nav {
        justify-content: center;
        display: flex;
        flex-direction: row;
        align-content: center;
        padding: 5% 0 5% 0;
        gap: 6%;
        font-size: 0.9rem;
        transition: font-size 0.2s ease;
    }



    .home {
        font-size: 2rem;
        font-weight: bolder;
        padding-top: 5%;
        text-align: center;
        transition: font-size 0.2s ease;
    }

    .hero {
        width: 100%;
        
    }

    .hero img{
        width: 100%;
    }
    

    .opener {
        background-color: #3c1733;
        color: white;
        width: 100%;
        margin-top:-2%;
        margin-bottom:-1%;
    }

    .text1 {
        padding: 1% 5% 1% 5%;
        font-size: 1.4rem;

    }

    .text2 {
        background-color: #70214d;
        padding: 1% 2% 1% 3%;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.9rem;
    }

    .text2 h2 {
        font-size: 1rem;
    }

    .diestiftung {

        padding: 2% 5% 2% 5%;
    }

    .grid {
        height: auto;
        width: 100%;
        padding:1% 0% 2% 0%;  
        padding-top: 1%;
        background-color: #70214d;
    }

    .grid img {
        width: 20%;
        padding-right: 5%;
        height: 100%;
        margin-top: auto;
        margin-bottom: auto;
        
    }

    .street {
        padding-left: 5%;
        padding-right: 5%;
        padding-top: 2%;
        padding-bottom: 2%;
        background-color: #3c1733;
        margin-top: 5%;
        display: flex;
        flex-direction: row;
    }

    .family {
        padding-left: 5%;
        padding-right: 5%;
        padding-top: 2%;
        padding-bottom: 2%;
        background-color: #3c1733;
        margin-top: 5%;
        display: flex;
        flex-direction: row;
    }

    .eat {
        padding-left: 5%;
        padding-right: 5%;
        padding-top: 2%;
        padding-bottom: 2%;
        background-color: #3c1733;
        margin-top: 5%;
        display: flex;
        flex-direction: row;
    }

    .quote_text {
        font-size: 1.8rem;
        line-height: 2.8rem;
        padding-left: 5%;
        padding-right: 5%;
        padding-top: 5%;
        padding-bottom: 5%;
        overflow-wrap: break-word;
    }

    .column2 {
        display: flex;
        flex-direction: row;
        gap: 5%;
    }

    .holger {
        width: 50%;
        background-color: #f6f2f5;

    }

    .dennis {
        width: 50%;
        background-color: #f6f2f5;

    }

    .namen {
        padding-left: 5%;
        font-size:1.1rem;
    }

    .holger img {
        width: 100%;
        padding-left: -5%;
    }

    .dennis img {
        width: 100%;
    }

    .quote_helmut {
        background-color: #f6f2f5;
        margin-top: -6%;
        padding-left: 5%;
        padding-right: 5%;
        padding-bottom: 5%;
        padding-top: 5%;
        color: #3c1733;
    }

    .quote_helmut img {
        width: 100%;
    }

    .quoting {
        font-style: italic;

        font-weight: 300;
    }

    .institut {
        padding-left: 5%;
        padding-right: 5%;
        padding-top: 2%;
        padding-bottom: 5%;
    }

    .institut img {
        width: 100%;
    }

    figcaption {
        font-size: 0.95rem;
        line-height: 1.4rem;
        padding-top: 2%;
        color: #3c1733;

    }

    .mission {
        background-color: #f6f2f5;
        padding: 5%;
        color: #3c1733;
    }

    .mission_head {
        font-size: 1.8rem;
        line-height: 2.5rem;
        font-weight: 300;
    }

    .kontakt_text {
        display: block;
    }

    .kontakt {
        padding: 5%;
    }

    .footer {
        align-items: center;
        display: flex;
        margin-left: auto;
        margin-right: auto;
        width:auto;
    }

    .footer a{
        padding-right:2%;
        padding-left:2%;
    }

    .impressum{
    
    padding-top:30%;
    padding-bottom:5%;
}


}

@media (min-width: 576px) and (max-width: 768px) {
    main{
    width: 100%;
    padding-top:10%;
}
.impressum{
    
    padding-top:20%;
    padding-bottom:5%;
}

    #mainheader.scrolled {
        height: auto;
        filter: drop-shadow(0px 3px 6px rgb(34, 34, 34));
    }

    #mainheader.scrolled .home {
        font-size: 2rem;
        padding-bottom: 2%;
        padding-top: 2%;
    }

    #mainheader.scrolled nav {
        padding: 1% 0 2% 0;
        gap: 15%;
        width: 100%;
        font-size: 1rem;
    }



    p {
        font-size: 1.2rem;
        line-height: 1.8rem;
        
    }

    .phone, .IBAN, .BIC, .mail{
        color:black;
        font-size:1.2rem;
        line-height:1.8rem;
        text-decoration:none;
        display:visible;
    }


    h2 {
        font-size: 2rem;
        color: #70214d;
    }

    h3 {
        font-size: 1.2rem;
        color: #3c1733;
        font-weight: normal;
    }

    .head {
        width: 90%;
        padding-left: 5%;
        padding-right: 5%;
        flex-wrap: wrap;
        display: flex;
        justify-content: center;
    }

    nav {
        justify-content: center;
        display: flex;
        flex-direction: row;
        align-content: center;
        padding: 3% 0 3% 0;
        gap: 10%;
        width: 100%;
    }

    .home {
        font-size: 3rem;
        font-weight: bolder;
        padding-top: 3%;
        text-align: center;
        transition: font-size 0.2s ease;
    }

    .hero {
        width: 100%;
        
    }

    .auge {
        width: 100%;
    }

    .opener {
        background-color: #3c1733;
        color: white;
        margin-top: -5%;
        padding-bottom:15%;
    }

    .text1 {
        padding: 1% 5% 1% 5%;
        font-size: 2rem;

    }

    .text2 {
        background-color: #70214d;
        padding: 1% 1% 1% 1%;
        font-size: 1rem;
        font-weight: 400;
        line-height: 2rem;
    }

    .text2 h2{
        font-size:1.4rem;
        margin-left:4%;

    }
    .diestiftung {

        padding: 2% 5% 2% 5%;
    }

    .grid {
        height: auto;
        margin-top: -5%;
        background-color: #70214d;

    }

    .grid img {
        width: 20%;
        padding-right: 5%;
        height: 100%;
        margin-top: auto;
        margin-bottom: auto;

    }

    .street {
        padding-left: 5%;
        padding-right: 5%;
        padding-top: 2%;
        padding-bottom: 2%;
        background-color: #3c1733;
        margin-top: 5%;
        display: flex;
        flex-direction: row;

    }

    .family {
        padding-left: 5%;
        padding-right: 5%;
        padding-top: 2%;
        padding-bottom: 2%;
        background-color: #3c1733;
        margin-top: 5%;
        display: flex;
        flex-direction: row;
    }

    .eat {
        padding-left: 5%;
        padding-right: 5%;
        padding-top: 2%;
        padding-bottom: 2%;
        background-color: #3c1733;
        margin-top: 5%;
        display: flex;
        flex-direction: row;
    }

    .quote_text {
        font-size: 1.8rem;
        line-height: 2.8rem;
        padding-left: 5%;
        padding-right: 5%;
        padding-top: 5%;
        padding-bottom: 5%;
    }

    .column2 {
        display: flex;
        flex-direction: row;
        gap: 5%;
        width: 70%;
        margin-left: auto;
        margin-right: auto;
        padding-top: 2%;
    }

    .holger {
        width: 50%;
        background-color: #f6f2f5;

    }

    .dennis {
        width: 50%;
        background-color: #f6f2f5;

    }

    .namen {
        padding-left: 5%;
    }

    .holger img {
        width: 100%;
        padding-left: -5%;
    }

    .dennis img {
        width: 100%;
    }

    .quote_helmut {
        background-color: #f6f2f5;
        margin-top: -6%;
        padding-left: 5%;
        padding-right: 5%;
        padding-bottom: 5%;
        padding-top: 5%;
        color: #3c1733;
    }

    .quote_helmut img {
        width: 100%;
    }

    .quoting {
        font-style: italic;

        font-weight: 300;
    }

    .institut {
        padding-left: 5%;
        padding-right: 5%;
        padding-top: 2%;
        padding-bottom: 5%;
    }

    .institut img {
        width: 100%;
    }

    figcaption {
        font-size: 1rem;
        line-height: 1.8rem;
        padding-top: 2%;
        color: #3c1733;

    }

    .mission {
        background-color: #f6f2f5;
        padding: 5%;
        color: #3c1733;
    }

    .mission_head {
        font-size: 1.8rem;
        line-height: 2.5rem;
        font-weight: 300;
    }

    .kontakt_text {
        display: block;
    }

    .kontakt {
        padding: 5%;
    }

    .footer {
        align-items: center;
        display: flex;
        
        margin-left: auto;
        margin-right: auto;
        width:100%;
    }

    .footer a{
        padding-right:2%;
        padding-left:2%;
    }

}

@media (min-width: 769px) and (max-width: 991px) {
       main{
    width: 100%;
    padding-top:6%;
}
.impressum{
    
    padding-top:25%;
    padding-bottom:5%;
}
    #mainheader.scrolled {
        height: auto;
        filter: drop-shadow(0px 3px 6px rgb(34, 34, 34));
    }

    #mainheader.scrolled .home {
        font-size: 2rem;
        padding-bottom: 2%;
        padding-top: 2%;
    }

    #mainheader.scrolled nav {
        padding: 1% 0 2% 0;
        gap: 15%;
        width: 100%;
        font-size: 1rem;
    }

    body {
        width: 100%;
    }

    p {
        font-size: 1.4rem;
        line-height: 1.8rem;
        
    }

    .phone, .IBAN, .BIC, .mail{
        color:black;
        font-size:1.4rem;
        line-height:1.8rem;
        text-decoration:none;
        display:visible;
    }


    h2 {
        font-size: 2rem;
        color: #70214d;
    }

    h3 {
        font-size: 1.2rem;
        color: #3c1733;
        font-weight: normal;
    }

    .head {
        width: 90%;
        padding-left: 5%;
        padding-right: 5%;
        flex-wrap: wrap;
        display: flex;
        justify-content: center;
    }

    nav {
        justify-content: center;
        display: flex;
        flex-direction: row;
        align-content: center;
        padding: 5% 0 5% 0;
        gap: 10%;
        width: 100%;
    }

    .home {
        font-size: 3.8rem;
        font-weight: bolder;
        padding-top: 5%;
        text-align: center;
        transition: font-size 0.4s ease;
    }

    .hero {
        width: 100%;
        position: relative;
        z-index: -1;
        transform: translateY(120px);
    }

    .auge {
        width: 100%;
    }

    .opener {
        background-color: #3c1733;
        color: white;
        margin-top: -2%;
        padding-bottom: 10%;
    }

    .text1 {
        padding: 1% 5% 1% 5%;
        font-size: 2rem;

    }

    .text2 {
        background-color: #70214d;
        padding: 1% 1% 1% 5%;
        font-size: 1rem;
        font-weight: 400;
        line-height: 2rem;
    }

    .text2 h2 {
        font-size: 1.4rem;

    }

    .diestiftung {

        padding: 2% 5% 2% 5%;
    }

    .grid {
        height: auto;
        margin-top: 5%;
        background-color: #70214d;

    }

    .grid img {
        width: 20%;
        padding-right: 5%;
        height: 100%;
        margin-top: auto;
        margin-bottom: auto;

    }

    .street {
        padding-left: 5%;
        padding-right: 5%;
        padding-top: 2%;
        padding-bottom: 2%;
        background-color: #3c1733;
        margin-top: 5%;
        display: flex;
        flex-direction: row;

    }

    .family {
        padding-left: 5%;
        padding-right: 5%;
        padding-top: 2%;
        padding-bottom: 2%;
        background-color: #3c1733;
        margin-top: 5%;
        display: flex;
        flex-direction: row;
    }

    .eat {
        padding-left: 5%;
        padding-right: 5%;
        padding-top: 2%;
        padding-bottom: 2%;
        background-color: #3c1733;
        margin-top: 5%;
        display: flex;
        flex-direction: row;
    }

    .quote_text {
        font-size: 1.8rem;
        line-height: 2.8rem;
        padding-left: 5%;
        padding-right: 5%;
        padding-top: 5%;
        padding-bottom: 5%;
    }

    .column2 {
        display: flex;
        flex-direction: row;
        gap: 5%;
        width: 70%;
        margin-left: auto;
        margin-right: auto;
        padding-top: 2%;
    }

    .holger {
        width: 50%;
        background-color: #f6f2f5;

    }

    .dennis {
        width: 50%;
        background-color: #f6f2f5;

    }

    .namen {
        padding-left: 5%;
    }

    .holger img {
        width: 100%;
        padding-left: -5%;
    }

    .dennis img {
        width: 100%;
    }

    .quote_helmut {
        background-color: #f6f2f5;
        margin-top: -6%;
        padding-left: 5%;
        padding-right: 5%;
        padding-bottom: 5%;
        padding-top: 5%;
        color: #3c1733;
    }

    .quote_helmut img {
        width: 100%;
    }

    .quoting {
        font-style: italic;

        font-weight: 300;
    }

    .institut {
        padding-left: 5%;
        padding-right: 5%;
        padding-top: 2%;
        padding-bottom: 5%;
    }

    .institut img {
        width: 100%;
    }

    figcaption {
        font-size: 1rem;
        line-height: 1.8rem;
        padding-top: 2%;
        color: #3c1733;

    }

    .mission {
        background-color: #f6f2f5;
        padding: 5%;
        color: #3c1733;
    }

    .mission_head {
        font-size: 1.8rem;
        line-height: 2.5rem;
        font-weight: 300;
    }

    .kontakt_text {
        display: block;
    }

    .kontakt {
        padding: 5%;
    }

    .footer {
        align-items: center;
        display: flex;
        gap: 10%;
        margin-left: auto;
        margin-right: auto;
        width:80%;
    }

}

@media (min-width: 992px) and (max-width: 1199px) {
.datenschutz{
        padding: 12% 5% 5% 5%;
    }

.impressum{
    
    padding-top:12%;
    padding-bottom:5%;
}
    #mainheader.scrolled {
        height: auto;
        filter: drop-shadow(0px 3px 6px rgb(34, 34, 34));
    }

    #mainheader.scrolled .home {
        font-size: 2rem;
        padding-bottom: 2%;
        padding-top:2%;
    }

    #mainheader.scrolled nav {
        padding: 2% 0 2% 0;
        gap: 15%;
        width: 100%;
        font-size: 1rem;
    }

    body {
        width: 100%;
    }

    p {
        font-size: 1.2rem;
        line-height: 1.8rem;
       
    }

    .phone, .IBAN, .BIC, .mail{
        color:black;
        font-size:1.2rem;
        line-height:1.8rem;
        text-decoration:none;
        display:visible;
    }

    .h1 {
        font-size: 2rem;

    }


    h2 {
        font-size: 2rem;
        color: #70214d;
    }

    h3 {
        font-size: 1.2rem;
        color: #3c1733;
        font-weight: normal;
    }

    .head {
        width: auto;
        padding-left: 2%;
        padding-right: 5%;
        display: flex;
        gap: 10%;
    }

    nav {
        display: flex;
        flex-direction: row;
        margin-top: auto;
        margin-bottom: auto;
        padding: 5% 0 5% 0;
        gap: 10%;
        width: 100%;
        justify-content: flex-end;
    }

    .home {
        vertical-align: top;
        font-size: 3rem;
        font-weight: bolder;
        margin-top: auto;
        margin-bottom: auto;
        width: 80%;
        padding-left:3%;
        transition: font-size 0.4s ease;
    }

    .hero {
        width: 100%;
    }

    .auge {
        width: 100%;
    }

    .opener {
        background-color: #3c1733;
        color: white;
        margin-top: -30%;
        width: 40%;
        position: absolute;
    }

    .text1 {
        padding: 1% 5% 1% 5%;
        font-size: 1.2rem;
        line-height: 3.4rem;
        margin-left: 2%;
    }

    .text2 {
        background-color: #70214d;
        padding: 1% 5% 1% 5%;
        font-size: 1rem;
        font-weight: 400;
        line-height: 2rem;
    }


    .grid {
        height: auto;
        margin-top: -5%;
        padding: 5% 2% 5% 2%;
        background-color: #70214d;
        display: flex;
        flex-direction: row;
        gap: 3%;
    }

    .grid img {
        width: 50%;
        height: auto;
        display: block;
        margin-left:auto;
        margin-right:auto;
    }

    .street {
        padding-left: 5%;
        padding-right: 5%;
        padding-top: 2%;
        padding-bottom: 2%;
        background-color: #3c1733;
        margin-top: 5%;

    }

    .family {
        padding-left: 5%;
        padding-right: 5%;
        padding-top: 2%;
        padding-bottom: 2%;
        background-color: #3c1733;
        margin-top: 5%;

    }

    .eat {
        padding-left: 5%;
        padding-right: 5%;
        padding-top: 2%;
        padding-bottom: 2%;
        background-color: #3c1733;
        margin-top: 5%;

    }

    .quote_text {
        font-size: 1.8rem;
        line-height: 2.8rem;
        padding-left: 5%;
        padding-right: 5%;
        padding-top: 5%;
        padding-bottom: 8%;
    }

    .diestiftung {

        padding: 2% 5% 2% 5%;
        display: flex;
        gap: 5%;
    }

    .column1 {
        width: 60%;
    }

    .column2 {
        display: flex;
        flex-direction: row;
        gap: 5%;
        width: 40%;
        margin-top: auto;
        margin-bottom: auto;
        padding-top: 10%;

    }



    .holger {
        width: 50%;
        background-color: #f6f2f5;

    }

    .dennis {
        width: 50%;
        background-color: #f6f2f5;

    }

    .namen {
        padding-left: 5%;
    }

    .holger img {
        width: 100%;
        padding-left: -5%;
    }

    .dennis img {
        width: 100%;
    }

    .quote_helmut {
        background-color: #f6f2f5;
        margin-top: -6%;
        padding-left: 5%;
        padding-right: 5%;
        padding-bottom: 5%;
        padding-top: 5%;
        display: flex;
        width: auto;
        color: #3c1733;
    }

    .portrait {
        width: 50%;
    }

    .quote_helmut img {
        width: 100%;
    }

    .quoting {
        font-style: italic;
        width: 80%;
        font-weight: 300;
    }

    .quote_helmut_text {
        width: 80%;
        padding-left: 5%;
        margin-top: auto;
        margin-bottom: auto;
    }

    .institut {
        padding-left: 5%;
        padding-right: 5%;
        padding-top: 2%;
        padding-bottom: 5%;
        display: flex;
        gap: 5%;
    }

    .institut_text {
        width: 60%;
    }

    .cory {
        margin-top: 5%;
        width: 40%;
    }

    .institut img {
        width: 100%;
    }

    figcaption {
        font-size: 1rem;
        line-height: 1.8rem;
        padding-top: 2%;
        color: #3c1733;

    }

    .mission {
        background-color: #f6f2f5;
        padding: 5%;
        color: #3c1733;
    }

    .mission_head {
        font-size: 1.8rem;
        line-height: 2.5rem;
        font-weight: 300;
    }

    .kontakt_text {
        display: block;
        width: 50%;
    }

    .kontakt {
        padding: 5%;
        display: flex;
        gap: 5%;
    }

    .footer {
        align-items: center;
        display: flex;
        gap: 10%;
        margin-left: auto;
        margin-right: auto;
        width:50%;
    }

}

@media (min-width: 1200px) and (max-width:1600px) {
.datenschutz{
        padding: 12% 5% 2% 5%;
    }

.impressum{
    
    padding-top:10%;
    padding-bottom:5%;
}
    body::-webkit-scrollbar {
        width: 20px;
    }

    /* Hintergrund der Scrollbar (Track) */
    body::-webkit-scrollbar-track {
        background: #f1f1f1;
        border-radius: 0px;
        /* Optional: abgerundete Ecken */
    }

    /* Der verschiebbare Balken (Thumb) */
    body::-webkit-scrollbar-thumb {
        background-color: #3c1733;
        border-radius: 0px;
        /* Abgerundete Ecken des Thumbs */
        border: 0px solid #f1f1f1;
        /* Optional: Rahmen um den Thumb */
    }

    /* Farbe des Thumbs beim Hovern */
    body::-webkit-scrollbar-thumb:hover {
        background-color: #70214d;
    }

    /* Farbe des Thumbs beim Aktivieren (Klicken/Ziehen) */
    body::-webkit-scrollbar-thumb:active {
        background-color: #70214d;
    }

    body {
        width: 100%;
    }

    p {
        font-size: 1.4rem;
        line-height: 2rem;
        
    }
    .phone, .IBAN, .BIC, .mail{
        color:black;
        font-size:1.4rem;
        line-height:2rem;
        text-decoration:none;
        display:visible;
    }

    .h1 {
        font-size: 2.5rem;

    }


    h2 {
        font-size: 2.5rem;
        color: #70214d;
    }

    h3 {
        font-size: 1.4rem;
        color: #3c1733;
        font-weight: normal;
    }

    .head {
        width: auto;
        padding-left: 5%;
        padding-right: 5%;
        display: flex;
        gap: 10%;

    }

    nav {
        display: flex;
        flex-direction: row;
        margin-top: auto;
        margin-bottom: auto;
        padding: 5% 0 5% 0;
        gap: 10%;
        width: 100%;
        font-size: 1.2rem;
        justify-content: flex-end;
    }

    .home {
        vertical-align: top;
        font-size: 3.5rem;
        font-weight: bolder;
        margin-top: auto;
        margin-bottom: auto;
        width: 80%;
    }

    .hero {
        width: 100%;

    }

    .auge {
        width: 100%;
    }

    .opener {
        background-color: #3c1733;
        color: white;
        margin-top: -29%;
        width: 37%;
        position: absolute;
    }

    .text1 {
        padding: 1% 5% 1% 5%;
        font-size: 1.4rem;
        line-height: 3.2rem;
        margin-left: 5%;
    }

    .text2 {
        background-color: #70214d;
        padding: 1% 10% 1% 5%;
        font-size: 1.4rem;
        font-weight: 400;
        line-height: 2rem;

    }

    .text2 h2 {
        margin-left: 5%;
        font-size:1.2rem;
    }

    .grid {
        height: auto;
        margin-top: -5%;
        padding: 5% 2% 5% 2%;
        background-color: #70214d;
        display: flex;
        flex-direction: row;
        gap: 3%;
    }

    .grid img {
        width: 50%;
        height: auto;
        display: block;
        margin-left:auto;
        margin-right:auto;
    }

    .street {
        padding-left: 5%;
        padding-right: 5%;
        padding-top: 2%;
        padding-bottom: 2%;
        background-color: #3c1733;
        margin-top: 5%;

    }

    .family {
        padding-left: 5%;
        padding-right: 5%;
        padding-top: 2%;
        padding-bottom: 2%;
        background-color: #3c1733;
        margin-top: 5%;

    }

    .eat {
        padding-left: 5%;
        padding-right: 5%;
        padding-top: 2%;
        padding-bottom: 2%;
        background-color: #3c1733;
        margin-top: 5%;

    }

    .quote_text {
        font-size: 2rem;
        line-height: 3rem;
        padding-left: 5%;
        padding-right: 5%;
        padding-top: 5%;
        padding-bottom: 8%;
    }

    .diestiftung {

        padding: 2% 5% 2% 5%;
        display: flex;
        gap: 5%;
    }

    .column1 {
        width: 60%;
    }

    .column2 {
        display: flex;
        flex-direction: row;
        gap: 5%;
        width: 40%;
        margin-top: auto;
        margin-bottom: auto;
        padding-top: 10%;

    }



    .holger {
        width: 50%;
        background-color: #f6f2f5;

    }

    .dennis {
        width: 50%;
        background-color: #f6f2f5;

    }

    .namen {
        padding-left: 5%;
    }

    .holger img {
        width: 100%;
        padding-left: -5%;
    }

    .dennis img {
        width: 100%;
    }

    .quote_helmut {
        background-color: #f6f2f5;
        margin-top: -6%;
        padding-left: 5%;
        padding-right: 5%;
        padding-bottom: 5%;
        padding-top: 5%;
        display: flex;
        width: auto;
        color: #3c1733;
    }

    .portrait {
        width: 50%;
    }

    .quote_helmut img {
        width: 100%;
    }

    .quoting {
        font-style: italic;
        width: 80%;
        font-weight: 300;
    }

    .quote_helmut_text {
        width: 80%;
        padding-left: 5%;
        margin-top: auto;
        margin-bottom: auto;
    }

    .institut {
        padding-left: 5%;
        padding-right: 5%;
        padding-top: 2%;
        padding-bottom: 5%;
        display: flex;
        gap: 5%;
    }

    .institut_text {
        width: 60%;
    }

    .cory {
        margin-top: 5%;
        width: 40%;
    }

    .institut img {
        width: 100%;
    }

    figcaption {
        font-size: 1rem;
        line-height: 1.7rem;
        padding-top: 2%;
        color: #3c1733;

    }

    .mission {
        background-color: #f6f2f5;
        padding: 5%;
        color: #3c1733;
    }

    .mission_head {
        font-size: 2.2rem;
        line-height: 2.9rem;
        font-weight: 300;
    }

    .kontakt_text {
        display: block;
        width: 50%;
    }

    .kontakt {
        padding: 5%;
        display: flex;
        gap: 5%;
    }

    .footer {
        align-items: center;
        display: flex;
        gap: 10%;
        margin-left: auto;
        margin-right: auto;
        width:30%;
    
    }

}

@media (min-width: 1601px) and (max-width:1900px) {
.datenschutz{
        padding: 10% 5% 5% 5%;
    }

    .impressum{
    
    padding-top:10%;
    padding-bottom:5%;
}
    body::-webkit-scrollbar {
        width: 20px;
    }

    /* Hintergrund der Scrollbar (Track) */
    body::-webkit-scrollbar-track {
        background: #f1f1f1;
        border-radius: 10px;
        /* Optional: abgerundete Ecken */
    }

    /* Der verschiebbare Balken (Thumb) */
    body::-webkit-scrollbar-thumb {
        background-color: #3c1733;
        border-radius: 0px;
        /* Abgerundete Ecken des Thumbs */
        border: 0px solid #f1f1f1;
        /* Optional: Rahmen um den Thumb */
    }

    /* Farbe des Thumbs beim Hovern */
    body::-webkit-scrollbar-thumb:hover {
        background-color: #70214d;
    }

    /* Farbe des Thumbs beim Aktivieren (Klicken/Ziehen) */
    body::-webkit-scrollbar-thumb:active {
        background-color: #70214d;
    }



    body {
        width: auto;
    }

    p {
        font-size: 1.6rem;
        line-height: 2.3rem;
        
    }

    .phone, .IBAN, .BIC, .mail{
        color:black;
        font-size:1.6rem;
        line-height:2.3rem;
        text-decoration:none;
        display:visible;
    }

    .h1 {
        font-size: 4.5rem;

    }


    h2 {
        font-size: 2.8rem;
        color: #70214d;
    }

    h3 {
        font-size: 1.6rem;
        color: #3c1733;
        font-weight: normal;
    }

    h4 {
        font-size: 1.4rem;
    }

    .head {
        width: auto;
        padding-left: 5%;
        padding-right: 5%;
        display: flex;
        gap: 10%;

    }

    nav {
        display: flex;
        flex-direction: row;
        margin-top: auto;
        margin-bottom: auto;
        padding: 3.5% 0 3.5% 0;
        gap: 10%;
        width: 100%;
        font-size: 1.4rem;
        justify-content: flex-end;
    }

    .home {
        vertical-align: top;
        font-size: 3.5rem;
        font-weight: bolder;
        margin-top: auto;
        margin-bottom: auto;
        width: 80%;
    }

    .hero {
        width: 100%;
    }

    .auge {
        width: 100%;
    }

    .opener {
        background-color: #3c1733;
        color: white;
        margin-top: -29%;
        width: 40%;
        position: absolute;
    }

    .text1 {
        padding: 1% 5% 1% 5%;
        font-size: 1.9rem;
        line-height: 4.5rem;
        margin-left: 8%;
    }

    .text2 {
        background-color: #70214d;
        padding: 1% 10% 1% 5%;
        font-size: 1.9rem;
        font-weight: 400;
        line-height: 2rem;

    }

    .text2 h2 {
        margin-left: 4%;
        font-size: 1.6rem;
    }

    .grid {
        height: auto;
        margin-top: -5%;
        padding: 5% 2% 5% 2%;
        background-color: #70214d;
        display: flex;
        flex-direction: row;
        gap: 3%;
    }

    .grid img {
        width: 50%;
        height: auto;
        display: block;
        margin-left:auto;
        margin-right:auto;
        
    }

    .street {
        padding-left: 5%;
        padding-right: 5%;
        padding-top: 2%;
        padding-bottom: 2%;
        background-color: #3c1733;
        margin-top: 5%;

    }

    .family {
        padding-left: 5%;
        padding-right: 5%;
        padding-top: 2%;
        padding-bottom: 2%;
        background-color: #3c1733;
        margin-top: 5%;

    }

    .eat {
        padding-left: 5%;
        padding-right: 5%;
        padding-top: 2%;
        padding-bottom: 2%;
        background-color: #3c1733;
        margin-top: 5%;

    }

    .quote_text {
        font-size: 2.4rem;
        line-height: 4rem;
        padding-left: 5%;
        padding-right: 5%;
        padding-top: 5%;
        padding-bottom: 8%;
    }

    .diestiftung {

        padding: 2% 5% 2% 5%;
        display: flex;
        gap: 5%;
    }

    .column1 {
        width: 60%;
    }

    .column2 {
        display: flex;
        flex-direction: row;
        gap: 5%;
        width: 40%;
        margin-top: auto;
        margin-bottom: auto;
        padding-top: 10%;

    }



    .holger {
        width: 50%;
        background-color: #f6f2f5;

    }

    .dennis {
        width: 50%;
        background-color: #f6f2f5;

    }

    .namen {
        padding-left: 5%;
    }

    .holger img {
        width: 100%;
        padding-left: -5%;
    }

    .dennis img {
        width: 100%;
    }

    .quote_helmut {
        background-color: #f6f2f5;
        margin-top: -6%;
        padding-left: 5%;
        padding-right: 5%;
        padding-bottom: 5%;
        padding-top: 5%;
        display: flex;
        width: auto;
        color: #3c1733;
    }

    .portrait {
        width: 50%;
    }

    .quote_helmut img {
        width: 100%;
    }

    .quoting {
        font-style: italic;
        width: 80%;
        font-weight: 300;
    }

    .quote_helmut_text {
        width: 80%;
        padding-left: 5%;
        margin-top: auto;
        margin-bottom: auto;
    }

    .institut {
        padding-left: 5%;
        padding-right: 5%;
        padding-top: 2%;
        padding-bottom: 5%;
        display: flex;
        gap: 5%;
    }

    .institut_text {
        width: 60%;
    }

    .cory {
        margin-top: 5%;
        width: 40%;
    }

    .institut img {
        width: 100%;
    }

    figcaption {
        font-size: 1.2rem;
        line-height: 1.7rem;
        padding-top: 2%;
        color: #3c1733;

    }

    .mission {
        background-color: #f6f2f5;
        padding: 5%;
        color: #3c1733;
    }

    .mission_head {
        font-size: 2.4rem;
        line-height: 3.2rem;
        font-weight: 300;
        width: 70%;
    }

    .kontakt_text {
        display: block;
        width: 50%;
    }

    .kontakt {
        padding: 5%;
        display: flex;
        gap: 5%;
    }

    .footer {
        align-items: center;
        display: flex;
        gap: 10%;
        margin-left: auto;
        margin-right: auto;
        width:20%;
    }

}

@media (min-width: 1901px) {

    .datenschutz{
        padding: 10% 10% 5% 10%;
    }

    .impressum{
    
    padding-top:6%;
    padding-bottom:5%;
}
    #mainheader.scrolled {
        height: auto;
        filter: drop-shadow(0px 3px 6px rgb(34, 34, 34));
    }

    #mainheader.scrolled .home {
        font-size: 2.2rem;
        padding: 1% 0% 1% 0;
    }

    #mainheader.scrolled nav {
        padding: 1% 0 1% 0;
        gap: 10%;
        width: 100%;
        font-size: 1rem;
    }


    body::-webkit-scrollbar {
        width: 20px;
    }

    /* Hintergrund der Scrollbar (Track) */
    body::-webkit-scrollbar-track {
        background: #f1f1f1;
        border-radius: 10px;
        /* Optional: abgerundete Ecken */
    }

    /* Der verschiebbare Balken (Thumb) */
    body::-webkit-scrollbar-thumb {
        background-color: #3c1733;
        border-radius: 0px;
        /* Abgerundete Ecken des Thumbs */
        border: 0px solid #f1f1f1;
        /* Optional: Rahmen um den Thumb */
    }

    /* Farbe des Thumbs beim Hovern */
    body::-webkit-scrollbar-thumb:hover {
        background-color: #290f22;
    }

    /* Farbe des Thumbs beim Aktivieren (Klicken/Ziehen) */
    body::-webkit-scrollbar-thumb:active {
        background-color: #290f22;
        
    }

    body {
        width: auto;

    }

    p {
        font-size: 1.6rem;
        line-height: 2.6rem;
       
    }

    .phone, .IBAN, .BIC, .mail{
        color:black;
        font-size:1.6rem;
        line-height:2.6rem;
        text-decoration:none;
        display:visible;
    }

    .h1 {
        font-size: 5.2rem;

    }


    h2 {
        font-size: 2.8rem;
        color: #70214d;
    }

    h3 {
        font-size: 1.6rem;
        color: #3c1733;
        font-weight: normal;
    }

    h4 {
        font-size: 1.3rem;
    }

    .head {
        width: auto;
        padding-left: 10%;
        padding-right: 10%;
        display: flex;
        gap: 10%;

    }

    nav {
        display: flex;
        flex-direction: row;
        margin-top: auto;
        margin-bottom: auto;
        padding: 3% 0 3% 0;
        gap: 10%;
        width: 100%;
        font-size: 1.4rem;
        justify-content: flex-end;
        transition: font-size 0.4s ease;
    }

    .home {
        vertical-align: top;
        font-size: 3.5rem;
        font-weight: bolder;
        margin-top: auto;
        margin-bottom: auto;
        width: 80%;
        transition: font-size 0.4s ease;
    }

    .hero {
        width: 100%;
        transform: translateY(-5%);
        position: relative;
        z-index: -1;
    }

    .auge {
        width: 100%;

        transform: translateY(-100px);
    }

    .opener {
        background-color: #3c1733;
        color: white;
        margin-top: -35%;
        width: 38%;
        position: absolute;
    }

    .text1 {
        padding: 1% 5% 1% 5%;
        font-size: 2rem;
        line-height: 4.8rem;
    }

    .text1 h1 {
        margin-left: 24%;
        width: auto;
    }

    .text2 {
        background-color: #70214d;
        padding: 1% 10% 1% 5%;
        font-size: 1.4rem;
        font-weight: 400;
        line-height: 2rem;

    }

    .text2 h2 {
        margin-left: 20%;
        font-size:1.5rem;
    }

    .grid {
        height: auto;
        margin-top: -10%;
        padding: 2% 10% 2% 10%;
        background-color: #70214d;
        display: flex;
        flex-direction: row;
        gap: 3%;
    }

    .grid img {
        width: 50%;
        display: block;
        margin-left:auto;
        margin-right:auto;
        height: auto;
        
    }

    .street {
        padding-left: 5%;
        padding-right: 5%;
        padding-top: 2%;
        padding-bottom: 2%;
        background-color: #3c1733;


    }

    .family {
        padding-left: 5%;
        padding-right: 5%;
        padding-top: 2%;
        padding-bottom: 2%;
        background-color: #3c1733;


    }

    .eat {
        padding-left: 5%;
        padding-right: 5%;
        padding-top: 2%;
        padding-bottom: 2%;
        background-color: #3c1733;


    }

    .quote_text {
        font-size: 2.9rem;
        line-height: 4.5rem;
        padding-left: 10%;
        padding-right: 10%;
        padding-top: 5%;
        padding-bottom: 8%;
    }

    .diestiftung {

        padding: 2% 10% 2% 10%;
        display: flex;
        gap: 5%;
    }

    .column1 {
        width: 70%;
    }

    .column2 {
        display: flex;
        flex-direction: row;
        gap: 10%;
        width: 30%;
        margin-top: auto;
        margin-bottom: auto;
        padding-top: 5%;

    }



    .holger {
        width: 50%;
        background-color: #f6f2f5;

    }

    .dennis {
        width: 50%;
        background-color: #f6f2f5;

    }

    .namen {
        padding-left: 8%;
    }

    .holger img {
        width: 100%;

    }

    .dennis img {
        width: 100%;
    }

    .quote_helmut {
        background-color: #f6f2f5;
        margin-top: -6%;
        padding-left: 10%;
        padding-right: 10%;
        padding-bottom: 5%;
        padding-top: 5%;
        display: flex;
        width: auto;
        color: #3c1733;
    }

    .portrait {
        width: 50%;
    }

    .quote_helmut img {
        width: 100%;
    }

    .quoting {
        font-style: italic;
        font-size: 1.9rem;
        line-height:2.8rem;
        width: 80%;
        font-weight: 300;
    }

    .quote_helmut_text {
        width: 80%;
        padding-left: 5%;
        margin-top: auto;
        margin-bottom: auto;
    }

    .institut {
        padding-left: 10%;
        padding-right: 10%;
        padding-top: 3%;
        padding-bottom: 3%;
        display: flex;
        gap: 5%;
    }

    .institut_text {
        width: 60%;
        margin-top:4%;
    }

    .cory {
        margin-top: 0%;
        width: 40%;
    }

    .institut img {
        width: 100%;
    }

    figcaption {
        font-size: 1.2rem;
        line-height: 1.8rem;
        padding-top: 2%;
        color: #3c1733;

    }

    .mission {
        background-color: #f6f2f5;
        padding: 2% 10% 2% 10%;
        color: #3c1733;
    }

    .mission_head {
        font-size: 2.6rem;
        line-height: 3.5rem;
        font-weight: 300;
        width: 100%;
    }

    .kontakt_text {
        display: block;
        width: 70%;
    }

    .kontakt {
        padding: 2% 10% 2% 10%;
        display: flex;
        gap: 5%;
    }

    .footer {
        align-items: center;
        display: flex;
        gap: 10%;
        margin-left: auto;
        margin-right: auto;
        width:20%;
    }

}
